@font-face {
    font-family: Silkscreen-Regular;
    src: url("resources/Silkscreen-Regular.ttf") format("opentype");
}

@font-face {
    font-family: PressStart;
    src: url("resources/VT323-Regular.ttf") format("opentype");
}

body {
    background-color: rgb(60, 60, 60);
	color: rgb(250,250,250);
	font-size: 3rem;
	font-family: Silkscreen-Regular;
}

#content-container {
    display: grid;

    grid-template-columns: 1fr;

    grid-gap: 5px;

    background-color: rgb(250, 250, 250);

    border: solid;
    border-width: 5px;
    border-color: rgb(250,250,250);

    font-size: 1rem;
}

.content-element-container {
    background-color: rgb(60, 60, 60);
}

.content-header {
	font-size: 1.5rem;
	border-bottom: solid;
	border-bottom-width: 2px;
	border-bottom-color: rgb(250, 250, 250);
}

.content-scroll {
    width: 100%;

    overflow: hidden;
}

.content {
    border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: rgb(250, 250, 250);
}

.project {
    border: none;
}

.header {
    font-size: 1rem;
    color: rgb(47, 151, 47);
}

.selector {
    display: grid;

    grid-gap: 5px;

    background-color: rgb(250, 250, 250);

    width: 100%;
}

.selector-button {
    border-bottom: solid;
    border-color: rgb(250,250,250);

    background-color: rgb(60, 60, 60);
}

.education-header {
    font-size: 1.5rem;
    color: rgb(70, 146, 190);
}

.marked {
    color: rgb(238, 113, 41);
}

a:link {
    color: rgb(218, 68, 68);

    text-decoration: none;
}
a:visited {
    color: rgb(218, 68, 68);

    text-decoration: none;
}

a:hover {
    color: rgb(136, 218, 68);
}

a:active {
    color: rgb(136, 218, 68);
}

@media (min-width: 800px) {
    #content-container {
        display: grid;
    
        grid-template-columns: 1fr 1fr;
    
        grid-gap: 5px;
    
        background-color: rgb(250, 250, 250);
    
        border: solid;
        border-width: 5px;
        border-color: rgb(250,250,250);
    
        font-size: 2rem;
    }

    body {
        background-color: rgb(60, 60, 60);
        color: rgb(250,250,250);
        font-size: 4rem;
    }

    .content-header {
        font-size: 2rem;
        
        border-bottom: solid;
        border-bottom-width: 2px;
        border-bottom-color: rgb(250, 250, 250);
    }

    .header {
        font-size: 2rem;
        color: rgb(0, 150, 0);
    }

    .education-header {
        font-size: 2rem;
        color: rgb(70, 146, 190);
    }
}

@media (min-width: 1700px) {
    body {
        max-width: 100%;

        display: flex;

        justify-content: center;
        align-items: center;
    }

    #content-container {
        display: grid;
    
        grid-template-columns: 1fr 1fr;
    
        grid-gap: 5px;
    
        background-color: rgb(250, 250, 250);
    
        border: solid;
        border-width: 5px;
        border-color: rgb(250,250,250);
    
        font-size: 1.5rem;
    }

    #big-box{
        display: block;

        width: 50%;
    }
}