body {
	background-color: #333333;
	color: #dedede;
}

h1 {
	font-size: 500%;
}

h2 {
	font-size: 150%;
}

button {
	color: #676767;
	
	border: none;
	background: none;
	
	font-family: inherit;
	font-size: 100%;
}

.social_drpdwn {
	position: relative;
	display: inline-block;
}

.social_dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 8em;
  z-index: 1;
}

.social_dropdown_content a {
  color: #676767;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.social_dropdown_content a:hover {background-color: #f1f1f1}

.social_drpdwn:hover .social_dropdown_content {
  display: block;
}

.social_drpdwn:hover .social_drpdwn_bttn {
  background-color: #676767;
  color: #E3E0DC;
}

.oben {
	
	text-align: center;
	
	margin-bottom: 0;
	
	padding-right: 3em;
}

.unten {
	text-align: center;
	
	margin-top: 0;
	
	padding-left: 3em;
}

.title-left {
	border-right: solid;
}

.title-middle {
	margin-left: 1vw;
	margin-right: 1vw;
}

.title-right {
	border-left: solid;
}

h3 {
	text-align: center;
	
	font-size: 150%;
}

.flexbox_container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.flexbox_item {
	width: 15vw;
	margin: 2vw;
	
	height: 700px;
	width: 500px;
	
	border: 2px solid #676767;
	background-color: #dedede;
}

.top {
	min-height: 100px;
	
	width: 89vw;
	
	margin-left: 5vw;
	margin-right: 5vw;
	
	display: flex;
	justify-content: space-around;
	
	align-items: center;
	
	
}

.item_top {
	text-align: center;
	
	width: 20em;
}

.mid {
	min-height: 100px;
	
	width: 99vw;
}

.ml {
}

.cg {
	
}

.os {
	
}

hr.solid {
	border: 2px solid #676767;
}