@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

html *{
    font-family: 'Dongle', sans-serif;
    color: rgb(36, 36, 36);
}

h1 {
    font-size: calc(0.1 * min(100vh, 100vw));
    margin: calc(0.01 * min(100vh, 100vw));

    line-height: 0.6;

    font-weight: 400;

    grid-column: 1/-1;
    grid-row: 1;
}

h2 {
    vertical-align: middle;
    text-align: center;

    line-height: 0.5;

    font-weight: 300;

    border-style: dashed;

    padding: calc(0.01 * min(100vh, 100vw));
}

#upload_label {
    vertical-align: middle;
    text-align: center;

    margin: 0;
    
    padding: calc(0.01 * min(100vh, 100vw));

    display:inline-block;
}

#imageUpload {
    grid-column: 1;
    grid-row: 2;
}

#MainWrapper {
    display: grid;
    justify-content:center;

    align-content: center;

    height: 100vh;
    width: 100vw;
}

#Wrapper {
    display: grid;
    justify-content:center;

    align-content: center;

    background-color: aquamarine;

    height: min(100vh, 100vw);
    width: min(100vh, 100vw);
}

.quad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

    grid-gap: min(1vw, 1vh);

    height: min(50vh, 50vw);
    width: min(50vh, 50vw);
}

.reset_to_menu {
    display: none;

    grid-column: 3/5;
    grid-row: 6;
}

#Step1 {
    grid-column: 1;
    grid-row: 1;

    background-color: rgb(253, 209, 155);
}

#Step2 {
    grid-column: 2;
    grid-row: 1;

    background-color: rgb(148, 231, 162);
}

#Step3 {
    grid-column: 1;
    grid-row: 2;

    background-color: rgb(75, 118, 211);
}

#Step4 {
    grid-column: 2;
    grid-row: 2;

    background-color: rgb(221, 127, 72);
}

#canvasOutput {
    grid-column: 2/6;
    grid-row: 2/6;

    border-style: solid;

    height: min(60vh, 60vw);
    width: min(60vh, 60vw);
}

.inner_image_upload {
    display: none;
}

#fileInput {
    display: none;
}

#TakeImageButton {
    display: none;

    grid-column: 1;
    grid-row: 3;
}

.button {
    vertical-align: middle;
    text-align: center;

    font-size: calc(0.05 * min(100vh, 100vw));

    font-weight: 300;
}